@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.title-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.description-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.tag-pending {
  @apply bg-gray-400;
}
.tag-processing {
  @apply bg-yellow-900;
}
.tag-shipped {
  @apply bg-green-900;
}
.tag-delivered {
  @apply bg-blue-900;
}
.tag-cancelled {
  @apply bg-red-900;
}
